<div class="container">
  <div class="grid-container">
    <!-- Primer cuadro: Toggle Switch -->
    <div class="grid-item">
      <app-toggle-switch></app-toggle-switch>
    </div>
    
    <!-- Segundo cuadro: Texto "2" -->
    <div class="grid-item">
      <app-toggle-switch-2></app-toggle-switch-2>
    </div>
    
    <!-- Tercer cuadro: Texto "3" -->
    <div class="grid-item">
      <app-toggle-switch-3></app-toggle-switch-3>
    </div>
  </div>
  
  <!-- Rectángulo abajo -->
  <div class="rectangle">
    <app-slider></app-slider>
  </div>


  <!-- Gráfica -->
  <div class="rectangle">
    <p>Gráfica</p>
  </div>

</div>



<!-- <div class="container">
  <div class="grid-container">
    Primer cuadro: Toggle Switch para foco1 
    <div class="grid-item">
      <app-toggle-switch id="65e892c16124050600b87598"></app-toggle-switch>
    </div>
    
    Segundo cuadro: Toggle Switch para foco2 
    <div class="grid-item">
      <app-toggle-switch id="65f0ad18efdef611de4c99cf"></app-toggle-switch>
    </div>
    
    Tercer cuadro: Toggle Switch para foco3 
    <div class="grid-item">
      <app-toggle-switch id="65f0ad1fefdef611de4c99d0"></app-toggle-switch>
    </div>
  </div>
  
  Rectángulo abajo
  <div class="rectangle">
    <p>Rectángulo</p>
  </div>
</div> -->
