<div class="container">
  <div class="grid-container">
    <!-- Primer cuadro: Toggle Switch -->
    <div class="grid-item-green">
      <app-toggle-switch></app-toggle-switch>
    </div>
    
    <!-- Segundo cuadro: Texto "2" -->
    <div class="grid-item-yellow">
      <app-toggle-switch-2></app-toggle-switch-2>
    </div>
    
    <!-- Tercer cuadro: Texto "3" -->
    <div class="grid-item-red">
      <app-toggle-switch-3></app-toggle-switch-3>
    </div>
  </div>
  
  <!-- Rectángulo abajo -->
  <div class="rectangle">
    <app-slider></app-slider>
  </div>
    <!-- Gráfico de Chart.js -->
  <div class="rectangle">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>
