<div class="toggle-switch">
    <!-- Checkbox 1 -->
    <input type="checkbox" name="switch-button-1" id="switch-label-1" class="toggle-switch__checkbox" (change)="toggleSwitch1($event)">
    <!-- Botón 1 -->
    <label for="switch-label-1" class="toggle-switch__label"></label>

    <!-- Checkbox 2 -->
    <input type="checkbox" name="switch-button-2" id="switch-label-2" class="toggle-switch__checkbox" (change)="toggleSwitch2($event)">
    <!-- Botón 2 -->
    <label for="switch-label-2" class="toggle-switch__label"></label>

    <!-- Checkbox 3 -->
    <input type="checkbox" name="switch-button-3" id="switch-label-3" class="toggle-switch__checkbox" (change)="toggleSwitch3($event)">
    <!-- Botón 3 -->
    <label for="switch-label-3" class="toggle-switch__label"></label>
</div>
